.query-calendar-container {
  width: 100%;
  margin: 75px auto 0;
  text-align: center;

  #query-calendar {
    margin: 40px;
    width: 300px;
    padding: 14px 18px;
    border-radius: 20px;
    font-size: 15px;
    border: none;
    outline: none;
  }

}



.fixture {
  display: inline-block;
  margin: 0px auto;
  background-color: #152332;
  width: 900px;
  opacity: 1;
  z-index: 22;
  font-size: 15px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #fff;


  .match-group-container {
    position: relative;

    select {
      position: absolute;
      top: 30px;
      right: 11px;
      font-size: 12px;
      width: 90px;
      opacity: .5;
      line-height: 1;
      z-index: 2;
      background-color: #1a2a3b;
      color: #fff;
      outline: none;
    }

    .match {
      cursor: default;
      padding: 0;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 20px 0;

      .date-container {
        font-size: 11px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: rgb(207, 207, 207);
      }

      .vs {
        width: 160px;
        span {
          cursor: pointer;
          text-decoration: underline;
        }
        // margin-bottom: -17px;
      }

      .vs-score-container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        row-gap: 20px;
        margin-bottom: -8px;
        width: 160px;


        .watch-container {
          font-size: 13px;
          color: #ccc;

          span {
            cursor: pointer;
          }

          .span-bet {
            color: #fbc302;
          }
        }
      }

      .score-container {
        display: flex;
        flex-direction: row;
        column-gap: 9px;
        justify-content: center;
        width: 100%;
        margin-bottom: -17px;
      }


      .player-container {
        width: 250px;
        position: relative;
        height: 100%;
        display: flex;
        align-items: center;
        column-gap: 16px;

        .char-img {
          height: 50px;
        }

        .winner {
          color: rgb(133, 245, 150);
        }

        .loser {
          opacity: .18;
        }

      }

      .p1 {
        text-align: right;
        justify-content: flex-end;
      }

      .p2 {
        text-align: left;
      }

      .flag {
        width: auto;
        height: 14px;
        margin: 0 7px;
        margin-top: 1px;
        display: none;
      }
    }

    .match:nth-child(even) {
      background-color: #1a2a3b;
    }

    .youtube-container {
      width: 80%;
      margin: 0 auto;
      height: 0;
      overflow: hidden;
      transition: .25s ease-in-out;
      border-radius: 10px;

      iframe {
        width: 100%;
        height: 100%;
        outline: none;
        border: none;
      }

    }

    .bets-container {
      width: 80%;
      margin: 0 auto;
      height: 0;
      overflow: hidden;
      // transition: .25s ease-in-out;
      border-radius: 10px;


      .single-bet-container {
        box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.28);
        background-color: #3b3b3b;
        border-radius: 6px;
        overflow: hidden;
        margin-bottom: 7px;

        .single-bet-title-container {
          background-color: #0e6ac3;
          text-align: left;
          font-size: 17px;
          padding: 6px 12px;
        }

        .single-bet-options-container {
          background-color: #5d5d5c;
          display: flex;
          flex-direction: row;
          justify-content: center;

          .single-bet-option-container {
            flex: 1;
            display: flex;
            justify-content: flex-start;
            justify-content: space-between;
            flex-direction: row;
            column-gap: 10px;
            padding: 8px 12px;
            font-size: 15px;
            background-color: #505050;
            border: 1px solid #454545;
            cursor: pointer;

            .single-bet-option-value {
              color: #fbc302;
            }

          }

          .single-bet-option-container:hover {
            background-color: #626262;
          }
        }

      }

    }

    .active {
      height: 420px;
      //height: unset;
      padding: 30px 0 40px;
    }

    .active.bets-container {
      height: unset;
    }


  }






}


.new-set-form-container {
  padding: 10px 10px;
  box-sizing: border-box;
  width: 600px;
  border-radius: 20px;
  margin: 0 auto;

  .btn-container {
    text-align: center;
    display: block;
    margin: 50px auto 40px;
    height: 100%;

    button {
      padding: 10px 20px;
      border-radius: 12px;
      background-color: rgba(21, 35, 50, 1);
      outline: none;
      border: none;
      color: #9ac;
      transition: .15s ease-in-out;
    }

    button:hover {
      color: #fff;
    }
  }

  .form-container {

    background-color: rgba(26, 42, 59, 0.9);
    height: 0;
    transition: .25s ease-in-out;
    overflow: hidden;
    margin: 0px auto;

    label {
      color: #9ab;
      padding: 4px 10px;
      margin-bottom: 0;
      display: block;
    }

    select {
      display: block;
      margin: 0 auto 32px;
      padding: 6px 10px;
      width: 200px;
      border-radius: 8px;
    }

    input {
      width: 200px;
      margin: 0 auto 30px;
      height: 32px;
    }

  }

  .active {
    // transition: .25s ease-in-out;
    height: 950px;
  }


}